/* names of classes
.logo 
.logo-text
.logo-text-footer
.logo-footer
.list 
.current
.btn 
.site-nav 
.item
.link
.heder-border
.header-nav
.nav-link 
.auth-nav
.nav-link-footer
.visually-hidden
.icon
.hero 
.hero-text 
.hero-btn 
.main-page 
.main-subdject 
.main-text 
.main-list
.main-img
.list-item
.section
.main-section
.main-page-title 
.main-page-list
.img
.team-page 
.team-page-item
.team-page-title 
.team-page-text 
.team-icon
.team-icon-social
.footer 
.footer-text 
.address 
.adress-list
.address-text
.container
.header-border


-###-portfolio-###-

.section-exmpls 
.btn-filter 
.list-btn
.btn-filter
.exmpl-item-text
.section-exmpls-heading
.section-exmpls-text
.section-exmpls-item
.link-exmpls


*/

:root {
  --main-bg: #ffffff;
  --main-text: #212121;
  --second-text: #757575;
  --logo: #2196f3;
  --accent-text: #2196f3;
  --first-section-bg: #2f303a;
  --second-section-bg: #ffffff;
  --third-section-bg: #f5f4fa;
  --footer-bg: #2f303a;
  --active-btn: #188ce8;
  --footer-nav: rgba(255, 255, 255, 0.6);
  --social-icon: #afb1b8;
  --form-border: rgba(33, 33, 33, 0.2);
  --footer-email: rgba(255, 255, 255, 0.3);
}

/* global */

body {
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.btn {
  cursor: pointer;
  font-family: inherit;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.icon {
  fill: inherit;
}

/* header global */

.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--logo);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  display: block;
}
.logo-text {
  color: var(--main-text);
}
.site-nav {
  display: flex;
}
.site-nav.list .current {
  color: var(--accent-text);
  position: relative;
}
.current::after {
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  content: "";
  background: var(--accent-text);
  border-radius: 2px;
}
.site-nav .link,
.item .nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link,
.nav-link {
  color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-icon {
  margin-right: 10px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.nav-link:focus,
.nav-link:hover {
  color: var(--accent-text);
  fill: var(--accent-text);
}
.nav-link {
  color: var(--second-text);
  fill: var(--second-text);
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}
.header-border {
  border-bottom: 1px solid #ececec;
}
/* footer global */
.address {
  font-style: normal;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg);
}
.logo-text-footer {
  color: var(--main-bg);
}
.container .logo-footer {
  margin-bottom: 20px;
  display: block;
}
.adress-list:not(:last-child) {
  margin-bottom: 9px;
  
}
.footer-text {
  font-size: 14px;
  line-height: 1.71;
}
.address-text {
  color: var(--main-bg);
}
.nav-link-footer {
  color: var(--footer-nav);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-footer:focus,
.nav-link-footer:hover {
  color: var(--accent-text);
}

.footer-icon {
  display: flex;
  gap: 10px;
}
.footer-icon-social {
  width: 44px;
  height: 44px;
  fill: var(--main-bg);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-list-social {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-social .icon {
  fill: inherit;
}
.footer-list-social:focus,
.footer-list-social:hover {
  background-color: var(--accent-text);
}
.footer-list {
  display: flex;
  align-items: baseline;
}
.footer-title {
  color: var(--main-bg);
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-list-logo {
  margin-right: 70px;
  
  width: 231px;
}
.footer-social{

  margin-right: 93px;
 
}
.description-form{
  min-width: 570px;
  display: flex;
}
.footer-email{
width: 358px;
height: 50px;
padding: 15px 16px;
margin-right: 12px;
background-color: inherit;
border: 1px solid var(--footer-email);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
color: var(--main-bg);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email:focus {
  border-color: var(--accent-text);
  outline: none;
}
.footer-btn{
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  border: 0;
  min-width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-bg);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-send-icon{
  margin-left: 10px;
}
.footer-btn:hover,
.footer-btn:focus{
  background-color: var(--active-btn);
}

/* main index */

.hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--first-section-bg);
}
.hero-text {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: var(--main-bg);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
}
.hero-btn {
  padding: 10px 32px;
  border: 0;
  margin-right: auto;
  margin-left: auto;
  min-width: 216px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-bg);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-btn);
}
.main-page {
  background-color: var(--second-section-bg);
}
.main-subdject {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-text {
  color: var(--second-text);
  font-size: 14px;
  line-height: 1.71;
  /* width: 270px; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-section {
  padding-bottom: 94px;
}
.main-list {
  width: calc((100%-90px) / 4);
}
.main-img {
  width: 270;
  height: 120px;
  background-color: var(--third-section-bg);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.container .list-item {
  display: flex;
  gap: 30px;
}
.main-page-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.main-page-list {
  width: calc((100%-60px) / 3);
}
.team-page {
  background-color: var(--third-section-bg);
}
.team-page-item {
  background: var(--main-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.team-item-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.img {
  display: block;
  width: 100%;
  height: auto;
}
.team-page-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.team-page-text {
  color: var(--second-text);
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 16px;
}
.team-icon {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-icon-social {
  width: 44px;
  height: 44px;

  fill: var(--social-icon);
}
.team-list-social {
  fill: var(--social-icon);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-social:focus,
.team-list-social:hover {
  background-color: var(--accent-text);
  fill: #ffffff;
}
.list-brand {
  width: 170px;
  height: 92px;
}
.icon-brand {
  display: flex;
  gap: 30px;
}
.link-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--social-icon);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-brand:hover,
.link-brand:focus {
  border: 1px solid var(--accent-text);
  border-radius: 4px;
  fill: var(--accent-text);
}
.thumb-main-page {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px;
}
.thumb-main-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-bg);
}

/* portfolio */

.section-exmpls {
  background-color: var(--second-section-bg);
}
.btn-filter {
  padding: 6px 22px;
  border: 0;
  min-width: 73px;
  background: var(--third-section-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  display: block;
  border-radius: 4px;
}
.list-btn-exmpls:not(:last-child) {
  margin-right: 8px;
}
.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-filter:focus,
.btn-filter:hover {
  background: var(--accent-text);
  color: var(--main-bg);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.exmpl-item-text {
  padding: 20px 24px;
}
.section-exmpls-heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.section-exmpls-text {
  color: var(--second-text);
  font-size: 16px;
  line-height: 1.88;
}
.section-exmpls-item {
  background: var(--main-bg);
  border: 1px solid #eeeeee;
  width: 370px;
}
.list-exmpls {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.link-exmpls {
  color: inherit;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-thumb {
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  padding: 63px 24px;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-thumb {
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-bg);
}
.section-exmpls-item:hover .thumb {
  transform: translatey(0);
  opacity: 1;
}
.link-exmpls:hover,
.link-exmpls:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 8px;

  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-text);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.form-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  height: 23px;
  font-size: 20px;
  line-height: 1.15;
  columns: var(--main-text);
}
.form-label {
  display: block;
  width: 100%;
}
.person-contact {
  height: 40px;
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid var(--form-border);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.person-contact:focus {
  border-color: var(--accent-text);
  outline: none;
}
.person-contact:focus + .form-icon {
  fill: var(--accent-text);
}
.person-comment {
  height: 120px;
  width: 100%;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid var(--form-border);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.person-comment:focus{
  border-color: var(--accent-text);
  outline: none;
} 
.form-contact-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text);
}
.form-btn {
  padding: 10px 52px;
  border: 0;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-bg);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  background-color: var(--active-btn);
}
.form-control {
  position: relative;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-text-agreement {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text);
  padding-left: 24px;
}
.form-checkbox {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.form-link {
  text-decoration: underline;
  color: var(--accent-text);
}
.form-agreement {
}
.form-text-agreement::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text);
  border-radius: 2px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-check {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 16px;
  height: 16px;
  opacity: 0;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-agreement:checked + .form-text-agreement .icon-check {
  opacity: 1;
}
.form-agreement:checked + .form-text-agreement::before {
  opacity: 0;
}
